.text1 {
  white-space: nowrap;
  width: 20px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text1:hover {
  overflow: visible;
}

p.text2 {
  writing-mode: vertical-rl;
}
